.question {
  .heading h1 {
    padding-bottom: 10px;
    padding-left: 8px;
    position: relative;
    text-align: left;
    color: var(--main-orange);
    font-size: 34px !important;
    font-weight: 700;
  }

  .heading h1:before {
    content: '';
    position: absolute;
    left: 425px;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: var(--main-orange);
  }

  .heading h1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 480px;
    background-color: var(--main-orange);
  }

  .question-card {
    border: 2px solid var(--main-orange);
    cursor: pointer;
    min-height: 220px;
    max-height: 220px;
  }

  .question-card:hover {
    background-color: var(--light-orange);
  }
  .current-day {
    border-radius: 4px;
    background-color: var(--light-orange);
    font-weight: 700;
    width: 100%;
  }

  .card-week {
    min-height: 160px;
  }

  .question-row {
    display: flex;
    flex-wrap: wrap;
  }

  .question-row .col {
    display: flex;
    flex-direction: column;
  }

  .question-row .col > div {
    flex-grow: 1;
  }
}
