.modal-container {
  background: rgba(73, 73, 73, 0.86);
  height: 100%;
  width: 100%;
}
.inner-modal {
  max-width: 1200px;
  position: absolute;
  top: 54px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.modal-header-custom {
  display: flex;
  justify-content: space-between;
  padding: 18px 38px;
  border-bottom: 2px solid #999494;
}
.modal-header-custom h1 {
  color: #F07B3A;
  font-size: 36px;
  font-weight: 800;
}
.modal-content {
  /* height: 550px; */
  max-height: 800px;
  overflow-y: scroll;
}
.close_icon {
  cursor: pointer;
}