.btn-outline{
    border: 2px solid rgba(203, 94, 33, 1);
    color: rgba(203, 94, 33, 1);
    padding: 0.3rem 0.3rem;
    background-color: white;

    &:hover{
        background-color: rgba(203, 94, 33, 1);
        color: white;
    }
}